.container
  %h2
  = form_with(model: [@board, @task], local: true) do |f|
    = render 'layouts/error_messages', model: f.object
    %div.table_label
      = f.label :title, 'Name'
      = f.text_field :title

    %div.text_field
      =f.label :content, 'Description'
      =f.text_area :content

    = f.submit '保存', class: 'btn btn_primary btn_lg'
