.container
  %h2
  = form_with(model: @task, url: new_board_task_path,local: true) do |f|
    = render 'layouts/error_messages', model: f.object
    = f.hidden_field :task
    %div.table_label
      = f.label :title, 'Name'
      = f.text_field :title

    %div.text_field
      =f.label :content, 'Description'
      =f.text_area :content

    %div.submit_btn
      = f.submit '保存'
