%h1 Tasks#new
%p Find me in app/views/tasks/new.html.erb
%div{:style => "width: 300px;"}
  = form_for(@task) do |f|
    %div
      = f.label :title
      = f.text_field :title, size: 50
    %div
      = f.label :description
      = f.text_area :description
    = f.submit 'Submit'
%p= link_to '一覧に戻る', tasks_url
