%h2.sign_up_title Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :user_id
  .field
    = f.label :name, class: 'label_title'
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name", class: 'date_room'
  .field
    = f.label :password, class: 'label_title'
    %br/
    = f.password_field :password, autocomplete: "current-password",class: 'date_room'
  .actions
    = f.submit "Submit", class: 'submit_btn'