.container
  %h2
  = form_with(model: @board, local: true) do |f|
    = render 'layouts/error_messages', model: f.object
    %div.table_label
      = f.label :title, 'Name'
      = f.text_field :title

    %div.text_field
      =f.label :content, 'Description'
      =f.text_area :content

    %div.submit_btn
      = f.submit '保存'
    
