.container
  %p.header_text Boards
  -# %img{:src => "/user_images/#{@user.image_name}"}/
  -# = link_to(@user.name,"users/#{@user.id}")

  %hr.border_room
  %h1.tabs_text All Boards
  .card_detail
    - @boards.each do |board|
      = render 'commons/board', board: board
    = link_to new_user_board_path(@board) do
      .add-new-board +Add new board
      = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }