.container
  %p.header_text Boards
  -# %img{:src => "/user_images/#{@user.image_name}"}/
  -# = link_to(@user.name,"users/#{@user.id}")

  %hr.border_room
  %h1.tabs_text All Boards
  - @boards.each do |board|
    = render 'commons/board', board: board
    = render 'commons/task',  board: board

.container
  = link_to new_board_path(@board) do
    .board_add +Add new board